<div class="flex items-center justify-between">
  <h1>Articles</h1>
  <%= link_to new_blog_article_path, class: 'btn' do %>
    <%= heroicon "plus" %>
    New article
  <% end %>
</div>

<%= render partial: "application/search" %>

<%= turbo_frame_tag "search", target: "_top" do %>
  <div class="mt-8 grid sm:grid-cols-2 gap-8">
    <% @articles.each do |article| %>
      <article class="card">
        <h3 class="card-title">
          <%= link_to article.title, [:blog, article] %>
        </h3>
        <p class="card-subtitle">
          <%= author_and_date(article) %>
        </p>
        <div class="card-body">
          <%= truncate strip_tags(article.body.to_s), length: 160 %>
        </div>
        <div class="card-actions">
          <%= link_to 'Read more', blog_article_path(article), class: 'btn btn-outline' %>
        </div>
      </article>
    <% end %>
  </div>

  <div class="text-center mt-10">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
